{
    "presets": [
        ["@babel/preset-env",
            {
                "targets": {
                    "node": "current",
                    "esmodules": true
                },
                "useBuiltIns": "entry"
            }
        ],
        ["@babel/preset-react", {
            "pragma": "dom",
            "pragmaFrag": "DomFrag",
            "throwIfNamespace": false
        }],
        ["@babel/preset-flow"]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime"
    ]
}